/* @use "@styles/mixins" as *; */
@use "../../styles/mixins" as *;

.footerContainer {
  inline-size: 100%;

  @include grid(
    $columns: repeat(2, auto),
    $rows: auto,
    $justify: space-evenly,
    $align: center,
    $row-gap: 0,
    $column-gap: 189px
  );

  padding: 36px;

  .titleLogo {
    font-family: Jost, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    vertical-align: middle;
  }

  .footerLinks {
    @include grid(
      $columns: repeat(3, 324px),
      $rows: repeat(2, auto),
      $justify: space-evenly,
      $align: center,
      $row-gap: 10px,
      $column-gap: 24px
    );
    font-family: Roboto, sans-serif;
  }

  .footerLogoContainer {
    @include flex(column, space-evenly, start, 112px);

    .subtitleLogo {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      vertical-align: middle;
    }
  }
  background-color: $color-input;
  border-radius: 20px;
}
