@use "@styles/variables" as vars;
@use "@styles/mixins" as *;

.pageWrapper {
  padding-block: 20px 40px;
  padding-inline: 36px;
  max-inline-size: 1440px;
  block-size: 100vh;
  margin: 0 auto;
}

.logo {
  @include flex(row, space-between, flex-end);
  block-size: 60px;
}

.backButtonContainer {
  inline-size: 147px;
}

.steps {
  @include flex(row, center, center);
  margin-block-end: 35px;
}

.section {
  @include flex(row, center, stretch, 24px);
  background-color: vars.$color-background;
  font-family: Roboto, sans-serif;
  margin-block-start: 32px;
}

.registerContainer {
  @include flex(column, center, center, 20px);
  inline-size: 556px;
  padding-inline: 60px;
  padding-block: 122px;
  background-color: vars.$color-input;
  border-radius: $input-border-radius;
}

.welcomeContainer {
  @include flex(column, center, center);
  inline-size: 556px;
  padding-inline: 60px;
  padding-block: 122px;
  background-color: vars.$color-input;
  border-radius: $input-border-radius;
}

.form {
  inline-size: 100%;
}

.emailContainer,
.passwordContainer {
  @include flex(column, center, start, 5px);
}

.emailContainer {
  margin-block: 5px 16px;
}

.passwordContainer {
  margin-block-end: 35px;
}

.errorText {
  display: block;
  min-block-size: 13px;
  font-size: 12px;
  color: vars.$color-error;
}

.lightBulb {
  block-size: 300px;
  inline-size: 300px;
  object-fit: cover;
  margin-block-end: 40px;
}

.descriptionContainer {
  @include flex(column, center, center, 12px);
}

.title {
  font-family: Jost, sans-serif;
  font-size: 24px;
}

.description {
  text-align: center;
  padding-inline: 10px;
  font-family: Roboto, sans-serif;
}
