.layoutUserPage {
  max-inline-size: 1440px;
  min-block-size: fit-content;
  @include flex(row, flex-start, flex-start, 24px);
  align-items: stretch;
  padding: 60px 20px;
}

.outletWrapper {
  inline-size: 1020px;
  min-block-size: fit-content;
  border-radius: calc($input-border-radius * 2);
  overflow-y: visible;

  &::-webkit-scrollbar {
    inline-size: 10px;
    border-radius: $input-border-radius;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-disabled;
    border-radius: $input-border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-toggle;
    block-size: 10%;
    border-radius: $input-border-radius;
    cursor: pointer;
  }
}
