@use "../../../styles/variables" as vars;
@use "../../../styles/mixins" as *;

.lightBulb {
  block-size: 300px;
  inline-size: 300px;
  object-fit: cover;
  margin-block-end: 40px;
}

.welcomeTitle {
  font-family: Jost, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.welcomeDescription {
  text-align: center;
  padding-inline: 10px;
  font-family: Roboto, sans-serif;
}
