.visuallyHidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.input {
  inline-size: 100%;
  padding: 12px 20px;
  border: 1px solid $color-border-input;
  border-radius: $input-border-radius;
  background-color: $color-input;
  color: $color-text; // ← ЭТО САМОЕ ВАЖНОЕ ИСПРАВЛЕНИЕ!
  font: {
    family: "Roboto", sans-serif;
    size: 16px;
    weight: 400;
  }
  position: relative;

  &.datePlaceholder {
    color: $color-border-input;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &::-moz-calendar-picker-indicator {
    display: none;
  }
}

.inputPasswordWrapper {
  position: relative;
  inline-size: 100%;

  .inputPassword {
    @extend .input;
    padding-inline-end: calc(12px * 2 + 24px);

    &::-ms-reveal {
      display: none;
    }

    &::-webkit-reveal {
      display: none;
    }

    &::-moz-text-field-decoration {
      display: none;
    }

    &::-webkit-credentials-auto-fill-button {
      display: none;
    }
  } // В современных браузерах НЕЛЬЗЯ напрямую работать с иконкой показа/скрытия пароля при type="password". В данном коде функционал реализован через дополнительную кнопку.

  .showPassword {
    inline-size: 24px;
    block-size: 24px;
    position: absolute;
    background-color: $color-input;
    background-position: center;
    background-size: cover;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
}

.inputDateWrapper {
  @extend .inputPasswordWrapper;

  .buttonDate {
    @extend .showPassword;
  }
}

.inputSearchWrapper {
  @include flex;
  position: relative;
  inline-size: 100%;

  .inputSearchSvg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .inputSearch {
    @extend .input;
    border: none;
    padding-left: 44px;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

.labelRadio {
  inline-size: 100%;
  padding: 2px;
  @include flex(row, flex-start, center, 8px);
  line-height: 20px;

  &:focus-within {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }

  .inputText {
    font: {
      family: "Roboto", sans-serif;
      weight: 400;
      size: 16px;
    }
    cursor: pointer;
  }
}

.labelCheckbox {
  @extend .labelRadio;

  .inputText {
    flex: 1; // Текст занимает оставшееся пространство
    min-inline-size: 0; // Позволяет тексту переноситься
    overflow-wrap: break-word; // Перенос длинных слов
  }
}
