.visuallyHidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.input {
  inline-size: 100%;
  padding: 12px 20px;
  border: 1px solid $color-border-input;
  border-radius: $input-border-radius;
  background-color: $color-input;
  font: {
    family: "Roboto", sans-serif;
    size: 16px;
    weight: 400;
  }
  position: relative;

  &::placeholder {
    color: $color-border-input;
  }

  &.datePlaceholder {
    color: $color-border-input;
  }

  &::-webkit-calendar-picker-indicator {
    @include input-icon("@images/icons/calendar.svg");
  }

  &::-moz-calendar-picker-indicator {
    @include input-icon("@images/icons/calendar.svg");
  }

  &::-webkit-reveal {
    @include input-icon("@images/icons/eye.svg");
  }
}

.inputPasswordWrapper {
  position: relative;

  .inputPassword {
    @extend .input;
    padding-inline-end: calc(12px * 2 + 24px);

    &::-ms-reveal {
      display: none;
    }

    &::-webkit-reveal {
      display: none;
    }

    &::-moz-text-field-decoration {
      display: none;
    }

    &::-webkit-credentials-auto-fill-button {
      display: none;
    }
  } // В современных браузерах НЕЛЬЗЯ напрямую работать с иконкой показа/скрытия пароля при type="password". В данном коде функционал реализован через дополнительную кнопку.

  .showPassword {
    inline-size: 24px;
    aspect-ratio: 1;
    position: absolute;
    background-color: $color-input;
    background-position: center;
    background-size: cover;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    &Image {
      inline-size: 24px;
      aspect-ratio: 1;
      transition: 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.inputSearchWrapper {
  @include flex;
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    content: "";
    @include input-icon("@images/icons/search.svg");
    @include flex;
    inline-size: 24px;
    aspect-ratio: 1;
    margin-left: 12px;
    pointer-events: none;
  }

  .inputSearch {
    @extend .input;
    border: none;
    padding-left: 44px;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

.labelRadio {
  inline-size: 100%;
  padding: 2px;
  @include flex(row, flex-start, center, 8px);
  line-height: 20px;

  .inputText {
    font: {
      family: "Roboto", sans-serif;
      weight: 400;
      size: 16px;
    }
  }

  .inputRadioCustom {
    inline-size: 20px;
    block-size: 20px;
    border: 1.5px solid $color-border-input-radio-checkbox;
    border-radius: 50%;
    cursor: pointer;
    @include flex;
  }

  .inputRadio:checked + .inputRadioCustom {
    border-color: $color-button-pressed;

    &::after {
      content: "";
      @include flex;
      inline-size: 10px;
      aspect-ratio: 1;
      background-color: $color-button-pressed;
      border-radius: 50%;
    }
  }
}

.labelCheckbox {
  @extend .labelRadio;

  .inputCheckboxCustom {
    inline-size: 24px;
    block-size: 24px;
    flex-shrink: 0; // Чекбокс не сжимается
    @include input-icon("@images/icons/checkbox-empty.svg");
  }

  .inputText {
    flex: 1; // Текст занимает оставшееся пространство
    min-inline-size: 0; // Позволяет тексту переноситься
    overflow-wrap: break-word; // Перенос длинных слов
  }

  .inputCheckbox:checked + .inputCheckboxCustom {
    &.isList {
      @include input-icon("@images/icons/checkbox-done.svg");
    }

    &.nonList {
      @include input-icon("@images/icons/checkbox-remove.svg");
    }
  }
}
