.container {
  position: relative;
  inline-size: 100%;
}

.input {
  inline-size: 100%;
  padding: 12px 20px;
  border: 1px solid $color-border-input;
  border-radius: $input-border-radius;
  background-color: $color-input;
  font-family: Roboto, sans-serif;

  &::placeholder {
    color: $color-border-input;
  }
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
