// Файл с миксинами для стилей

@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid(
  $columns: 2,
  $rows: 1,
  $justify: normal,
  $align: stretch,
  $row-gap: 0,
  $column-gap: 0
) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  justify-content: $justify;
  align-items: $align;
  gap: $row-gap $column-gap;
}

@mixin input-icon($icon, $size: 24px) {
  background-image: url($icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size;
  cursor: pointer;
} // Lint требует kebab-case
