// reset.scss - дополнительные сбросы поверх normalize.css

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

p {
  margin: 0;
}

*:focus:not(:focus-visible) {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
