/* --- Тексты --- */
$color-text: var(--color-text);
$color-caption: var(--color-caption);
$color-disabled-text: var(--color-disabled-text);

/* --- Элементы управления --- */
$color-toggle: var(--color-toggle);
$color-disabled: var(--color-disabled);
$color-input: var(--color-input);
$color-card: var(--color-card);

/* --- Акценты и интерактив --- */
$color-text-link: var(--color-text-link);
$color-button-pressed: var(--color-button-pressed);
$color-accent: var(--color-accent);
$color-button-hover: var(--color-button-hover);

/* --- Фон --- */
$color-background: var(--color-background);

/* --- Ошибки / предупреждения --- */
$color-alarm: var(--color-alarm);
$color-error: var(--color-error);

/* --- Теги / категории --- */
$color-tag-business-career: var(--color-tag-business-career);
$color-tag-creativity-art: var(--color-tag-creativity-art);
$color-tag-foreign-languages: var(--color-tag-foreign-languages);
$color-tag-education-development: var(--color-tag-education-development);
$color-tag-home-comfort: var(--color-tag-home-comfort);
$color-tag-health-lifestyle: var(--color-tag-health-lifestyle);
$color-tag-plus: var(--color-tag-plus);

/* --- Формы --- */
$color-border-input: var(--color-border-input);
$color-border-input-radio-checkbox: var(--color-border-input-radio-checkbox);
$input-border-radius: 12px;

/* --- Тосты --- */
$color-toast-background: var(--color-toast-background);
