// Файл с миксинами для стилей

@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid(
  $columns: 2,
  $rows: 1,
  $justify: normal,
  $align: stretch,
  $row-gap: 0,
  $column-gap: 0
) {
  display: grid;
  grid-template-columns: $columns; // grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: $rows; // grid-template-rows: repeat($rows, 1fr);
  justify-content: $justify; // не было. Если не указан, по умолчанию - normal
  align-items: $align; // не было Если не указан, по умолчанию - stretch
  gap: $row-gap $column-gap; // не было // не было
}
