// Файл где будут храниться все переменные для стилей

$color-input: #fff;
$color-border-input: #69735d;
$color-border-input-radio-checkbox: #000;
$color-button-pressed: #508826;
$color-accent: #abd27a;
$color-background: #f9faf7;

$input-border-radius: 12px;
