@use "/src/styles/variables" as *;

.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 32px;
  align-items: center;
  inline-size: 100%;
  padding: 36px 36px 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}

.navigationLink {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $color-text;
}

.navigationLinkContainer {
  display: flex;
  column-gap: 24px;
}

.navigationDropDownLink {
  position: relative;
  padding-right: 24px;
}

.navigationDropDownLink::after {
  content: "";
  display: block;
  inline-size: 24px;
  block-size: 24px;
  background-image: (url("/src/images/icons/chevron-down.svg"));
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  border-radius: 12px;
  inline-size: 100%;
  max-inline-size: 527px;
  min-inline-size: 150px;
  padding: 12px;
}

.authButtons {
  display: flex;
  column-gap: 32px;
}

.themeIcon {
  inline-size: 24px;
  block-size: 24px;
}

.themeToggle {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/src/images/icons/moon.svg");
}
