@use "@styles/mixins" as *;
@use "@styles/variables" as vars;

@mixin text-style($weight, $size, $line) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

.wrapper {
  inline-size: 100%;
  min-inline-size: 1020px;
  max-inline-size: 1024px;
  border-radius: 12px;
}

.containerModalTitle {
  block-size: 52px;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 8px;
  padding-top: 44px;
}

.title {
  font-family: Jost, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.subTitle {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.containerModalButton {
  @include flex(
    $direction: row,
    $justify: flex-end,
    $align: center,
    $gap: 12px
  );
}
