@use "../../styles/mixins" as *;
@use "../../styles/variables" as vars;

@mixin text-style($weight, $size, $line) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

.contentContainer {
  @include flex(
    $direction: row,
    $justify: space-around,
    $align: center,
    $gap: 16px
  );
  border-radius: 12px;
  border-width: 2px;
  inline-size: 100%;
  min-inline-size: 1020px;
  max-inline-size: 1024px;
  padding-block: clamp(40px, 5vw, 80px) clamp(40px, 6vw, 72px);
  padding-inline: clamp(52px, 1vw + 50px, 60px);

  .previewDescription {
    @include flex(
      $direction: column,
      $justify: space-around,
      $align: center,
      $gap: 16px
    );
    inline-size: 399px;
    grid-column: 1;
    grid-row: 2;
  }

  .contentTittle {
    @include text-style($weight: 500, $size: 32px, $line: 40px);
    font-family: Jost, sans-serif;
    align-self: flex-start;
    font-style: normal;
    vertical-align: middle;
  }

  .contentContainerSubtitle {
    @include text-style($weight: 400, $size: 12px, $line: 16px);
    font-family: Roboto, sans-serif;
    align-self: self-start;
    font-style: normal;
    vertical-align: middle;
    color: vars.$color-caption;
  }

  .category {
    @include text-style($weight: 400, $size: 12px, $line: 16px);
    font-family: Roboto, sans-serif;
    font-style: normal;
    vertical-align: middle;
    color: vars.$color-caption;
  }

  .contentDescription {
    @include text-style($weight: 400, $size: 16px, $line: 24px);
    font-family: Roboto, sans-serif;
    align-self: center;
    font-style: normal;
    padding-inline-end: 10px;
    max-inline-size: 399px;
    overflow: auto;
    block-size: 168px;
    border-radius: 10px;
  }

  .btnClamp {
    inline-size: 100%;
    padding-block-start: clamp(4px, 4vw, 12px);
  }

  .scrollbar {
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
      inline-size: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-toggle);
      border-radius: 5px;

      &:hover {
        color: vars.$color-caption;
      }
    }

    &::-webkit-scrollbar-track {
      background-color: vars.$color-disabled;
      border-radius: 10px;
    }
  }

  .mainButton {
    @include text-style($weight: 400, $size: 16px, $line: 24px);
    font-family: Roboto, sans-serif;
    inline-size: 399px;
    block-size: 48px;
    gap: 20px;
    font-style: normal;
  }
}

.containerDecorButtons {
  @include flex(
    $direction: row,
    $justify: flex-end,
    $align: center,
    $gap: 16px
  );
  inline-size: 440px;
  block-size: 24px;
  padding-block-end: 24px;
}
