@use "@styles/variables" as vars;

.panelContainer {
  border-radius: 12px;
  padding: 60px;
  inline-size: 556px;
  max-inline-size: calc(100vw - 16px);
  block-size: 616px;
  max-block-size: calc(100vh - 80px);
  overflow-y: auto;
  overscroll-behavior: contain; // Предотвращает всплытие прокрутки на страницу
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.title {
  font-family: Jost, sans-serif;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: vars.$color-text;
}

.readEverything {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: vars.$color-text-link;
}

.icon {
  inline-size: 40px;
  block-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationMessage {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: vars.$color-text;
}

.notificationDetails {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  color: vars.$color-text;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  min-inline-size: 0;
  max-inline-size: 300px;
}

.notificationDate {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: vars.$color-caption;
  white-space: nowrap;
  text-align: right;
  flex-shrink: 0;
}

.notificationContent {
  display: flex;
  gap: 10px;
}

.messageContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  inline-size: 100%;
  gap: 16px;
}

.actionButton {
  inline-size: 114px;
  margin-top: 16px;
}

.notificationCard {
  margin-bottom: 24px;
}

.viewedCard {
  margin-top: 40px;
}

.noNotifications {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  color: vars.$color-caption;
}
