.page {
  background-color: var(--color-background);
}

.pageContainer {
  min-block-size: 100vh;
}

header {
  margin: 0 auto;
  max-inline-size: 1440px;
}

.filterContainer {
  inline-size: 100%;
}

.galleryContainer {
  inline-size: 100%;
}

.main {
  display: grid;
  grid-template-columns: 324px 1020px;
  justify-items: center;
  gap: 24px;
  margin: 0 auto;
  padding: 32px 36px 60px;
  inline-size: 100%;
  max-inline-size: 1440px;
}

footer {
  inline-size: 100%;
}
