.page {
  background-color: #f9faf7;
}

.pageContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 32px 24px;
  padding: 0 36px 68px;
  justify-items: center;
  min-block-size: 100vh;
}

header {
  grid-column: 1/-1;
  max-inline-size: 1440px;
}

.filterContainer {
  max-inline-size: 324px;
}

.galleryContainer {
  inline-size: 100%;
}

.main {
  display: flex;
  gap: 24px;
  grid-column: 1;
  inline-size: 100%;
  max-inline-size: 1440px;
}

footer {
  grid-column: 1/-1;
  max-inline-size: 1440px;
}
