.main {
  display: grid;
  grid-template-columns: 324px 1020px;
  justify-items: center;
  gap: 24px;
  margin: 0 auto;
  padding: 32px 36px 60px;
  inline-size: 100%;
  max-inline-size: 1440px;

  .filterContainer {
    position: relative;
    inline-size: 100%;
  }

  .galleryContainer {
    inline-size: 100%;
    position: relative;

    .loaderWrapper {
      position: fixed;
      top: 0;
      left: 0;
      inline-size: 100vw;
      block-size: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(3px);
      background-color: rgb(46 45 45 / 14.6%);
      z-index: 9999;
    }
  }

  .filterWrap {
    position: sticky;
    top: 15px;
    block-size: 100vh;
    overflow-y: auto;
  }
}
