@use "../../styles/mixins" as *;
@use "../../styles/variables" as vars;

.cardsContainer {
  inline-size: 440px;
  block-size: 324px;
}

.cardsSwiper {
  @include flex(row, flex-start, flex-start);
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  gap: 24px;
}

.buttonSwap {
  position: absolute;
  inline-size: 32px;
  block-size: 32px;
  border-radius: 100px;
  border: none;
  background-color: rgb(255 255 255 / 80%);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s;

  &:hover {
    background-color: rgb(255 255 255 / 95%);
  }

  &.left {
    left: 10px;
    background-image: url("@shared/assets/images/icons/arrow-left-circle.svg");
  }

  &.right {
    right: 10px;
    background-image: url("@shared/assets/images/icons/arrow-right-circle.svg");
  }
}

.mainImageContainer {
  flex: 0 0 324px;
  inline-size: 324px;
  block-size: 324px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;

  .mainCard {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}

.thumbnailsContainer {
  @include flex(column, space-between, center);
  flex: 0 0 92px;
  inline-size: 92px;
  block-size: 324px;
}

.thumbnailWrapper {
  position: relative;
  inline-size: 92px;
  block-size: 92px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;

  .thumbnail {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid vars.$color-border-input;
  }

  .thumbnailWithOverlay {
    filter: blur(2px);
  }
}

.overlayCount {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 70%);
  color: vars.$color-background;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  z-index: 2;
}

.noThumbnail {
  inline-size: 100%;
  block-size: 100%;
  background-color: vars.$color-disabled;
  display: flex;
  align-items: center;
  justify-content: center;
  color: vars.$color-caption;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  border: 1px dashed vars.$color-caption;
  border-radius: 8px;
}

.noImages {
  inline-size: 440px;
  block-size: 324px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: vars.$color-disabled;
  border-radius: 12px;
  color: vars.$color-caption;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  border: 1px dashed vars.$color-caption;
  font-weight: 400;
}
