@use "@styles/variables" as vars;

.errorMessage {
  inline-size: 100%;
  padding: 12px;
  background-color: vars.$color-error;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}
