@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.filterTags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.filterTag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  background: $color-card;
  border: 1px solid $color-disabled;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: $color-button-hover;
    border-color: $color-text-link;
  }
}

.filterTagText {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $color-text;
  flex: none;
}

.filterTagIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 24px;
  height: 24px;
  flex: none;
  position: relative;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
