.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  gap: 32px 24px;
  padding: 0 36px 68px;
  justify-items: center;
  min-height: 100vh;
  background-color: #f9faf7;
}

header {
  grid-column: 1/-1;
}

.filterContainer {
  grid-column: 1;
  justify-self: start;
  background-color: #8b78ba;
}

.main {
  grid-column: 2;
  width: 100%;
  background-color: #7282af;
}

footer {
  grid-column: 1/-1;
}
