@use "@styles/variables" as vars;
@use "@styles/mixins" as *;

.separator {
  @include flex(row, center, center, 4px);
  inline-size: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;

  &::before,
  &::after {
    content: "";
    flex: 1;
    block-size: 1px;
    background-color: vars.$color-disabled;
  }
}
