@use "../../../styles/mixins" as *;

.logoLinkContainer {
  inline-size: 159px;
  block-size: 40px;

  @include flex($direction: row, $justify: center, $align: center, $gap: 12px);

  .logoTitle {
    font-family: Jost, sans-serif;
    font-weight: 600; // без нужного шрифта, из-за этого свойства текст кажется больше
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    inline-size: 107px;
  }
}
