.dropDownWrapper {
  inline-size: 100%;
  display: none;
  position: relative;
}

.dropDownWrapper.visible {
  display: block;
}

.dropDownContainer {
  position: absolute;
  inline-size: min-content;
  block-size: min-content;
  background-color: $color-card;
  border-radius: $input-border-radius;
  border: 1px solid $color-border-input;
  z-index: 1;
  max-inline-size: calc(100vw - 16px);
}

// Для notifications используем fixed позиционирование и выравниваем по правому краю контента
// Header имеет max-width: 1440px и padding: 36px, контент центрируется
// На экранах шире 1440px: right = отступ от края до контента + padding контента
// На экранах уже 1440px: right = padding контента
.dropDownWrapper[data-notifications] .dropDownContainer {
  position: fixed;
  top: 100px;
  right: max(36px, calc((100vw - 1440px) / 2 + 36px));
}
