//переопределение стилей элементов react-datepicker

.react-datepicker-wrapper {
  inline-size: 100%;
}

.react-datepicker__current-month,
.react-datepicker__navigation {
  display: none;
}

.react-datepicker__header {
  padding-block-end: 12px;
  border: none;
  background-color: $color-input;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.react-datepicker__header__dropdown {
  @include flex(row, center, center, 25px);
}

.react-datepicker__month-dropdown {
  left: 0;
  top: 0;
}

.react-datepicker__month-read-view--selected-month {
  text-transform: capitalize;
}

.react-datepicker__year-dropdown {
  left: 50%;
  top: 0;
}

.react-datepicker__month-read-view--down-arrow,
.react-datepicker__year-read-view--down-arrow {
  border-width: 1px 1px 0 0;
  border-color: $color-text;
}

.react-datepicker__day-name {
  color: $color-button-pressed;
}

.react-datepicker__day--outside-month {
  color: $color-disabled-text;
  opacity: 0.5;
}

.react-datepicker__day--selected {
  background-color: $color-accent;
  border-radius: 50%;
  color: $color-text;

  &:hover {
    background-color: $color-accent !important;
    border-radius: 50% !important;
  }
}

.react-datepicker__day--keyboard-selected:not(
  .react-datepicker__day--selected
) {
  background-color: transparent !important;
  color: $color-text !important;
}
