// все импорты стилей в одном файле
@use "./styles/themes/dark.scss" as *;
@use "./styles/themes/light.scss" as *;
@use "./styles/normalize.scss" as *;
@use "@styles/reset.scss" as *;
@use "./styles/fonts.scss" as *;

// Глобальные стили
html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  transform: translateZ(
    0
  ); // Фикс полос на тёмной теме на бэкграунде. Оказывается, это запускает принудительный рендеринг на GPU и фиксит проблему.
  transition:
    background-color 200ms ease,
    color 200ms ease;
}
